@using Complimentree.Models; 
<h4>Name: @thisTree.Name</h4>


<p>Size: @thisTree.Size</p>

<p>Latitute: @thisTree.Latitude</p>

<p>Longitude: @thisTree.Longitude</p>

<p>Species: @thisTree.Species</p>

<ul>
    @foreach (var compliment in @thisTree.Compliments)
    {
        <li>@compliment.Text</li>
    }
</ul>

<h3>Write your own compliment</h3>

<InputTextArea @bind-Value="@TextAreaValue"> </InputTextArea>
<button name="AddCompliment" value= "Add" @onclick="AddedCompliment">Add Compliment</button>



@code {

    public string TextAreaValue { get; set; }
    [Parameter]
    public Tree thisTree { get; set; }

    public bool IsChecked { get; set; }
    [Parameter]
    public EventCallback<UserInput> UserAddedCompliment { get; set; }


    private async Task AddedCompliment()
    {
        await UserAddedCompliment.InvokeAsync(new UserInput() { TreeId = thisTree.Id, Compliment = TextAreaValue });
    }

}
